
<div class="container-fluid">
  <h1>Employee Form</h1>
  <form #userForm="ngForm">
    {{userForm.value | json}}
    <div class="form-group">
      <label>Employee Id</label>
      <input type="text" name="EmployeeId" id="" #eid="ngModel" [class.is-invalid]="eid.invalid && 
      eid.touched" class="form-control" ngModel required >
      <small class="text-danger" [class.d-none]="eid.valid || eid.untouched">Employee Id is required</small>
    </div>
    <div class="form-group">
      <label>First Name</label>
      <input type="text" name="FirstName" id="" class="form-control" ngModel required
      #firstname="ngModel" [class.is-invalid]="firstname.invalid && firstname.touched">
      <small class="text-danger" [class.d-none]="firstname.valid || firstname.untouched">FirstName is required</small>
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" name="LastName" id="" class="form-control" ngModel required
      #lastname="ngModel" [class.is-invalid]="lastname.invalid && lastname.touched">
      <small class="text-danger" [class.d-none]="lastname.valid || lastname.untouched">LastName is required</small>
    </div>
    <div class="form-group">
      <label>Department</label>
      <input type="text" name="Department" id="" class="form-control" ngModel required>
    </div>
    <div class="form-group">
      <label>Project Details</label> <br>
      <textarea name="Description" id="" cols="30" rows="5" ngModel></textarea>
    </div>
    <button class="btn btn-primary">Submit Form</button>
  </form>
</div>